---
import "@/styles/global.css";
import { Counter } from "@/test/Counter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Canvas Games</title>
    <meta
      name="description"
      content="Mini games made using HTML canvas and javascript"
    />
  </head>
  <body class="min-h-dvh">
    <main class="space-y-4 p-3">
      <h1 class="text-5xl font-semibold">Canvas Games</h1>
      <Counter client:only="solid" />
    </main>
  </body>
</html>
