---
import { GamePage } from "@/games/2048/components/GamePage";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Canvas Games</title>
    <meta
      name="description"
      content="Mini games made using HTML canvas and javascript"
    />
  </head>
  <body class="bg-background text-accent flex min-h-dvh flex-col p-4">
    <GamePage client:only="solid" />
  </body>
</html>
